h1 {
    color: blueviolet;
}

body {
    background: gray;
}

h2 {
    color: #c1820c;
    text-transform: lowercase;
}



/*Right Column*/


#WorkExperience {
    margin-top: 2em;
}

h3 {
    font-size: 2em;
}

#right-col {
    background-color: beige;
    font-size: 1em;
    color: cadetblue;
    margin-left: 21em;
}

/*Heading*/
#Heading .william {
    color: firebrick;
}

#Heading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fff46d;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.pua {
    border-radius: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#Heading {
    color: darkorange;
    background-color: darkturquoise;
}

#PersonalBackground {
    font-style: italic;
}

#Objective {
    font-style: italic;
}

#CocurricularActivities {
    font-style: italic;
}

#Education {
    font-style: italic;
}

#WorkExperience {
    font-style: italic;
}
